- name: Lancement playbook haproxy front
  hosts: "{{ haproxy_front_ansible_hostsgroup }}"
  gather_facts: yes
  vars_files: onlyoffice-vars.yml



  tasks:
    - include_vars: onlyoffice-vars.yml

    - name: Update repositories cache and install "haproxy" package
      apt:
       name: haproxy
       update_cache: yes    
    
    - name: cat conf haproxy.cfg
      shell: |
        cat << EOF > /etc/haproxy/haproxy.cfg
        global
          log /dev/log	local0
          log /dev/log	local1 notice
          chroot /var/lib/haproxy
          stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
          stats timeout 30s
          user haproxy
          group haproxy
          daemon

          # Default SSL material locations
          ca-base /etc/ssl/certs
          crt-base /etc/ssl/private

          # Default ciphers to use on SSL-enabled listening sockets.
          # For more information, see ciphers(1SSL). This list is from:
          #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
          # An alternative list with additional directives can be obtained from
          #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
          ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
          ssl-default-bind-options no-sslv3

        defaults
          log	global
          mode	http
          option	dontlognull
                timeout connect 5000
                timeout client  50000
                timeout server  50000
          errorfile 400 /etc/haproxy/errors/400.http
          errorfile 403 /etc/haproxy/errors/403.http
          errorfile 408 /etc/haproxy/errors/408.http
          errorfile 500 /etc/haproxy/errors/500.http
          errorfile 502 /etc/haproxy/errors/502.http
          errorfile 503 /etc/haproxy/errors/503.http
          errorfile 504 /etc/haproxy/errors/504.http

        listen nextcloud
                bind *:80
                cookie ONLYID insert indirect maxidle 2h maxlife 12h nocache
                retries 3
                balance roundrobin
                reqadd X-Forwarded-Proto:\ http
                option redispatch
                option httplog
                option httpchk GET /healthcheck 
                http-check expect string true
                acl existing-x-forwarded-host req.hdr(X-Forwarded-Host) -m found
                acl existing-x-forwarded-proto req.hdr(X-Forwarded-Proto) -m found
                http-request add-header X-Forwarded-Proto https unless existing-x-forwarded-proto
                http-request add-header X-Forwarded-Host %[req.hdr(Host)] unless existing-x-forwarded-host
                stats enable
                stats uri /stats
                stats auth adminesgi:adminesgi
                server onlyoffice-1 192.168.40.21:80 cookie check inter 60s 
                server onlyoffice-2 192.168.40.22:80 cookie check inter 60s 


        EOF
      args:
       executable: /bin/bash    

    - name: Restart service haproxy
      service:
       name: haproxy
       state: restarted