- name: playbook installation onlyoffice
  hosts: "{{ onlyoffice_ansible_hostsgroup }}"
  vars_files: onlyoffice-vars.yml

  tasks:
    - include_vars: onlyoffice-vars.yml

    - name: install require packages
      apt:
       pkg:
         - gpg
         

    - name: Add onlyoffice gpg keys
      apt_key:
        keyserver: "keyserver.ubuntu.com"
        id: "8320CA65CB2DE8E5"
        state: present

    - name: Add onlyoffice repositories
      apt_repository:
        repo: "deb http://download.onlyoffice.com/repo/debian squeeze main"
        state: present

    - name: Accept license
      debconf:
        name: "{{ package_oo_name }}"
        question: onlyoffice/accepted-onlyoffice-license
        value: 'true'
        vtype: boolean
    
    - name: Set up db host name
      debconf:
        name: "{{ package_oo_name }}"
        question: onlyoffice/db-host
        value: 192.168.40.90
        vtype: string
    
    - name: Set up db name
      debconf:
        name: "{{ package_oo_name }}"
        question: onlyoffice/db-name
        value: onlyoffice
        vtype: string
    
    - name: Set up db user
      debconf:
        name: "{{ package_oo_name }}"
        question: onlyoffice/db-user
        value: onlyoffice
        vtype: string

    - name: Set up db user password
      debconf:
        name: "{{ package_oo_name }}"
        question: onlyoffice/db-pwd
        value: onlyoffice
        vtype: password
    
    - name: Install documentserver
      apt: 
        name: "{{ package_oo_name }}"
        update_cache: yes
        state: latest

    - name: Set up redis host name
      shell: "{{ json }} -I -e 'this.services.CoAuthoring.redis.host  = \"192.168.40.90\"'"


    - name: Set up redis port number
      shell: "{{ json }} -I -e 'this.services.CoAuthoring.redis.port  = \"6379\"'"


    - name: Set up rabbitmq url
      shell: "{{ json }} -I -e 'this.rabbitmq.url = \"{{ rabbitmq_server_url }}\"'"
   