- name: playbook postgresql onlyoffice
  hosts: "{{ pgsql_ansible_hostsgroup }}"
  gather_facts: yes
  vars_files: onlyoffice-vars.yml

  tasks:
    - include_vars: onlyoffice-vars.yml
    - name: Update repositories cache and install "postgresql" package
      apt:
       name: postgresql-11
       update_cache: yes

    - name: install "postgresql-client" package
      apt:
       name: postgresql-client-11

    - name: drop/create cluster 11
      shell: |
        pg_dropcluster --stop 11 main
        pg_createcluster -d /data/11/main 11 main
      args:
       executable: /bin/bash

    - name: Restart service postgresql 11
      service:
       name: postgresql@11-main
       state: restarted

    - name: cat conf sql
      shell: |
        cat << EOF > /tmp/only.sql
        create user onlyoffice createdb;
        alter user onlyoffice password 'onlyoffice';
        create database onlyoffice owner onlyoffice;
        GRANT ALL PRIVILEGES ON DATABASE onlyoffice TO onlyoffice;
        create user primaryuser with password 'primaryuser';
        EOF
      args:
       executable: /bin/bash

    - name: input et rm du script sql
      shell: |
        su -c "psql -d template1 -f /tmp/only.sql" - postgres
        rm /tmp/only.sql
      args:
       executable: /bin/bash

    - name: conf postgresql
      shell: |
        sed -i -r "s/#listen_addresses = 'localhost'/listen_addresses = '*'/g" /etc/postgresql/11/main/postgresql.conf
        echo "host    all       onlyoffice             {{ segment_ip }}          md5" >> /etc/postgresql/11/main/pg_hba.conf
        echo "host    primaryuser    primaryuser      {{ segment_ip }}          md5" >> /etc/postgresql/11/main/pg_hba.conf
      args:
       executable: /bin/bash

    - name: Restart service postgresql 11
      service:
       name: postgresql@11-main
       state: restarted


    - name: conf master postgresql.conf
      shell: |
        sed -i -r "s/#wal_level = replica/wal_level = hot_standby/g" /etc/postgresql/11/main/postgresql.conf
        sed -i -r "s/#synchronous_commit = on/synchronous_commit = local/g" /etc/postgresql/11/main/postgresql.conf        
        sed -i -r "s/#max_wal_senders = 10/max_wal_senders = 2/g" /etc/postgresql/11/main/postgresql.conf  
        sed -i -r "s/#wal_keep_segments = 0/wal_keep_segments = 10/g" /etc/postgresql/11/main/postgresql.conf 
        echo "synchronous_standby_names = '{{ pgsql_slave_name }}'" >> /etc/postgresql/11/main/postgresql.conf    
      args:
       executable: /bin/bash

    - name: conf master postgresql.conf
      shell: |
        sed -i -r "s/#hot_standby = on/hot_standby = on/g" /etc/postgresql/11/main/postgresql.conf    
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ pgsql_master_name }}"

#    - name: conf archive master
#      shell: |
#        echo "archive_command = 'cp %p /var/lib/postgresql/11/main/archive/%f'" >> /etc/postgresql/11/main/postgresql.conf
#        mkdir -p /var/lib/postgresql/11/main/archive/
#        chmod 700 /var/lib/postgresql/11/main/archive/
#        chown -R postgres:postgres /var/lib/postgresql/11/main/archive/
#      args:
#       executable: /bin/bash
#      when: inventory_hostname != "{{ pgsql_slave_name }}"

    - name: conf master pg_hba.conf
      shell: |
           echo "host    replication       replica            {{ segment_ip }}          trust" >> /etc/postgresql/11/main/pg_hba.conf
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ pgsql_slave_name }}"
    
    - name: cat conf sql replica master
      shell: |
        cat << EOF > /tmp/replica.sql
        CREATE USER replica REPLICATION LOGIN CONNECTION LIMIT -1 ENCRYPTED PASSWORD 'Espoir15';
        EOF
      args:
       executable: /bin/bash
  
    - name: input et rm du script sql
      shell: |
        su -c "psql -d template1 -f /tmp/replica.sql" - postgres
        rm /tmp/replica.sql
      args:
       executable: /bin/bash
    
    - name: Restart service postgresql 11
      service:
       name: postgresql
       state: restarted

    - name: Stop service postgresql 11 slave
      service:
       name: postgresql
       state: stopped
      when: inventory_hostname != "{{ pgsql_master_name }}"

    - name: conf slave recovery
      shell: |
        rm -rf /data/11/main/*
        su -c "pg_basebackup -h {{ pgsql_master_ip }} -U replica -D /data/11/main -R -X stream" - postgres     
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ pgsql_master_name }}"
    
    - name: cat recovery.conf
      shell: |
        cat << EOF > /data/11/main/recovery.conf
        standby_mode = 'on'
        primary_conninfo = 'host={{ pgsql_master_ip }} port=5432 user=replica password=Espoir15 application_name={{ pgsql_slave_name }}'
        #restore_command = 'cp /var/lib/postgresql/11/main/archive/%f %p'
        trigger_file = '/tmp/postgresql.trigger.5432'
        EOF
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ pgsql_master_name }}"
    
    - name: ch mod own slave recovery 
      shell: |
        chmod 600 /data/11/main/recovery.conf
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ pgsql_master_name }}"
  
    - name: Restart service postgresql 11
      service:
       name: postgresql
       state: restarted
