- name: Lancement playbook haproxy backend
  hosts: "{{ nextcloud_ansible_hostsgroup }}"
  gather_facts: yes
  vars_files: nextcloud_vars.yml



  tasks:
    - include_vars: nextcloud_vars.yml

    - name: Install the required software from the apt repositories
      apt:
       pkg:
         - apache2
         - apache2-doc
         - libapache2-mod-php7.3
         - php7.3
         - php7.3-common
         - php7.3-cli
         - php7.3-json
         - php7.3-intl
         - php7.3-fpm
         - php7.3-cgi
         - php7.3-imap
         - php-pear
         - libsmbclient
         - php7.3-gd
         - php7.3-imagick
         - php7.3-apcu
         - php7.3-redis
         - php7.3-ldap
         - php7.3-sqlite3
         - php7.3-pgsql
         - php7.3-mysql
         - php7.3-xml
         - php7.3-zip
         - php7.3-gd
         - php7.3-mbstring
         - curl
         - php7.3-mysql
         - php7.3-curl
         - postgresql-client-11
    
    - name: telechargement binaire minio
      get_url:
        url: https://download.nextcloud.com/server/releases/nextcloud-19.0.0.tar.bz2
        dest: /tmp/    
    
    - name: unarchive and move to /var/www/
      unarchive:
        src: /tmp/nextcloud-19.0.0.tar.bz2
        dest: /var/www/
    
    - name: cat conf apache nextcloud
      shell: |
        cat << EOF > /etc/apache2/sites-available/nextcloud.conf
        <VirtualHost *:80>
              Servername Nextcloud-Objet
              DocumentRoot "/var/www/nextcloud/"
              <Directory "/var/www/nextcloud/">
                      Options +FollowSymlinks
                      AllowOverride All
                      <IfModule mod_dav.c>
                              Dav off
                      </IfModule>
                      Order allow,deny
                      Allow from all
              </Directory>
              SetEnv HOME /var/www/nextcloud
              SetEnv HTTP_HOME /var/www/nextcloud
        </VirtualHost>" >> /etc/apache2/sites-available/nextcloud.conf
        EOF
      args:
       executable: /bin/bash    

    - name: enable site and mode apache
      shell: |
        a2ensite nextcloud.conf
        a2enmod rewrite
        a2enmod headers
        a2enmod env
        a2enmod dir
        a2enmod mime
        a2dissite 000-default.conf
      args:
       executable: /bin/bash      

    - name: cat conf apache nextcloud
      shell: |
        cat << EOF > /var/www/nextcloud/config/config.php
        <?php
        $CONFIG = array (
          'trusted_domains' =>
          array (
            0 => '192.168.20.80'
            1 => '192.168.20.21'
            2 => '192.168.20.22'
            3 => 'nextcloud.maildudek.fr',
          ),
          'objectstore' => array(
                'class' => '\\OC\\Files\\ObjectStore\\S3',
                'arguments' => array(
                        'bucket' => 'nextcloud',
                        'autocreate' => true,
                        'key'    => 'adminesgi',
                        'secret' => 'adminesgi',
                        'hostname' => 'http://192.168.30.80:9000/',
                        'port' => 80,
                        'use_ssl' => false,
                        'use_path_style'=>true
                ),
          ),
          'memcache.local' => '\\OC\\Memcache\\APCu',
          'memcache.distributed' => '\\OC\\Memcache\\Redis',
          'memcache.locking' => '\\OC\\Memcache\\Redis',
          'filelocking.enabled' => true,
          'redis' =>
                array (
                   'host' => '192.168.20.80',
                   'port' => 6379,
                   ),
        );
        EOF
      args:
       executable: /bin/bash

    - name: Change file ownership, group and permissions
      file:
        path: /var/www/nextcloud/
        owner: www-data
        group: www-data
        recurse: yes
    
    - name: sed for php conf
      shell: |
        sed -i 's/;date.timezone =/date.timezone = "Europe\/Paris" /' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.enable=0/opcache.enable=1/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.enable_cli=0/opcache.enable_cli=1/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.memory_consumption=64/opcache.memory_consumption=128/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.interned_strings_buffer=4/opcache.interned_strings_buffer=8/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.max_accelerated_files=2000/opcache.max_accelerated_files=10000/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.revalidate_freq=2/opcache.revalidate_freq=1/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;opcache.save_comments=1/opcache.save_comments=1/' /etc/php/7.3/apache2/php.ini
        sed -i 's/;date.timezone =/date.timezone = "Europe\/Paris" /' /etc/php/7.3/cli/php.inif
      args:
       executable: /bin/bash  
    
    - name: install nextcloud with occ
      shell: |
        sudo -u www-data php occ  maintenance:install --no-interaction --database "pgsql" --database-host "192.168.20.90:5432" --database-name "nextcloud"  --database-user "nextcloud" --database-pass "nextcloud" --admin-user "adminesgi" --admin-pass "adminesgi"
      args:
       executable: /bin/bash
    
    - name:  restart Apache2
      service:
       name: apache2
       state: restarted