- name: Lancement playbook redis
  hosts: "{{ ansible_hostsgroup }}"
  gather_facts: yes
  vars_files: redis-vars.yml



  tasks:
    - include_vars: redis-vars.yml

    - name: Update repositories cache and install "tcpdump" package
      apt:
       name: tcpdump
       update_cache: yes

    - name: install "sysfsutils|pip|virtualenv|setuptools" packages
      apt:
       pkg:
         - sysfsutils
         - virtualenv
         - python3-setuptools
         - python-setuptools
         - python-pip
         - python3-pip


    - name: install "redis-server" and "redis-tools" packages
      apt:
       pkg:
        - redis-server
        - redis-tools
        - redis-sentinel

    - name: pip install redis
      pip:
       name: redis

    - name: install "ruby" package
      apt:
       name: ruby
    - debug: var=ansible_default_ipv4.address

    - name: set redis.conf
      shell: |
        systemctl enable redis-server.service
        sed -i "s/bind 127.0.0.1/bind {{ ansible_default_ipv4.address|quote }} 127.0.0.1/g" /etc/redis/redis.conf
        sed -i 's/protected-mode yes/protected-mode no/g' /etc/redis/redis.conf
        sed -i 's/# syslog-enabled no/syslog-enabled yes/g' /etc/redis/redis.conf
        sed -i 's/# syslog-ident redis/syslog-ident redis/g' /etc/redis/redis.conf
        sed -i 's/save 900 1/# save 900 1/g' /etc/redis/redis.conf
        sed -i 's/save 300 10/# save 300 10/g' /etc/redis/redis.conf
        sed -i 's/save 60 10000/# save 60 10000/g' /etc/redis/redis.conf
      args:
       executable: /bin/bash


    - name: set redis conf (41-redis|sysfs)
      shell: |
        echo "vm.overcommit_memory = 1" > /etc/sysctl.d/41-redis.conf
        echo "net.core.somaxconn = 512" >> /etc/sysctl.d/41-redis.conf
        echo "net.ipv4.tcp_max_syn_backlog = 511" >> /etc/sysctl.d/41-redis.conf
        echo "vm.swappiness = 20" >> /etc/sysctl.d/41-redis.conf
        sysctl --system
        systemctl restart sysfsutils.service
      args:
       executable: /bin/bash

    - name: set port redis.conf slave
      shell: |
        sed -i -e "s/port 6379/port 6380/g" /etc/redis/redis.conf
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ master_name }}"

    - name: Restart service redis-server
      service:
       name: redis-server
       state: restarted

    - name: set master conf
      shell: |
        redis-cli -p 6379 config set requirepass Espoir15
        sed -i -e "s/# requirepass foobared/requirepass Espoir15/g" /etc/redis/redis.conf
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ slave_name }}"

    - name: set slave conf
      shell: |
        redis-cli -p 6380 config set masterauth Espoir15
        redis-cli -p 6380 SLAVEOF 192.168.20.31 6379
        sed -i -e "s/# slaveof <masterip> <masterport>/slaveof {{ master_ip }} {{ master_port }}/g" /etc/redis/redis.conf
        sed -i -e "s/# masterauth <master-password>/masterauth Espoir15/g" /etc/redis/redis.conf
      args:
       executable: /bin/bash
      when: inventory_hostname != "{{ master_name }}"
    
    - name: cat sentinel.conf master
      shell: |
        sed -i -e "s/sentinel monitor mymaster 127.0.0.1 6379 2/sentinel monitor {{ master_name }} {{ master_ip }} {{ master_port }} 2/g" /etc/redis/sentinel.conf
        echo "sentinel down-after-milliseconds {{ master_name }} 2000" >> /etc/redis/sentinel.conf
        echo "sentinel failover-timeout {{ master_name }} 5000" >> /etc/redis/sentinel.conf
        echo "sentinel auth-pass {{ master_name }} Espoir15" >> /etc/redis/sentinel.conf
        sed -i -e "s/# protected-mode no/protected-mode no/g" /etc/redis/sentinel.conf
        sed -i -e "s/mymaster/{{ master_name }}/g" /etc/redis/sentinel.conf
      args:
       executable: /bin/bash  
 

    - name: Restart service redis-server
      service:
       name: redis-server
       state: restarted
    
    - name: Restart service redis-server
      service:
       name: redis-sentinel
       state: restarted

#    - name: set master node for slaves
#      redis:
#       command: slave
#       master_host: "{{ master_ip }}"
#       master_port: "{{ master_port }}"
#      when: inventory_hostname != "{{ master_name }}"


#   - name: ensure packages installed
#     apt: pkg={{ item }} state=latest
#     with_items:
#      - make
#      - build-essential

#   - name: download latest stable redis
#     get_url: url=http://download.redis.io/redis-stable.tar.gz dest=/tmp/redis-stable.tar.gz

#   - name: untar redis
#     command: tar zxf /tmp/redis-stable.tar.gz -C /tmp

#   - name: build redis
#     command: make -C /tmp/redis-stable
