- name: Common pre-requisites
  hosts: minio_nodes
  gather_facts: yes
  

  tasks:
    - include_vars: minio-vars.yml

    
    - name: telechargement binaire minio
      get_url:
        url: https://dl.min.io/server/minio/release/linux-amd64/minio
        dest: /tmp/
    
    - name: installation binaire minio
      shell: |
        chmod +x minio
        mv /tmp/minio /usr/local/bin
        useradd -r minio-user -s /sbin/nologin
        chown minio-user:minio-user /usr/local/bin/minio
        mkdir /usr/local/share/minio
        chown minio-user:minio-user /usr/local/share/minio
        chmod 777 /usr/local/bin/minio
        mkdir /etc/minio
        chown minio-user:minio-user /etc/minio
      args:
       executable: /bin/bash

    - name: cat conf sql
      shell: |
        cat << EOF > /etc/default/minio
        MINIO_ACCESS_KEY="{{ MINIO_ACCESS_KEY }}"
        MINIO_VOLUMES=""
        MINIO_OPTS="http://{{ ipreseau_minio }}{1...{{ minio_n }}}/mnt/data{1...{{ minio_n }}}"
        MINIO_SECRET_KEY="{{ MINIO_SECRET_KEY }}"
        EOF
      args:
       executable: /bin/bash

    - name: Copy file with owner and permission, using symbolic representation
      copy:
        src: /git/PA2019-2020/ansible/minio/minio.service
        dest: /etc/systemd/system/
        owner: root
        group: root
        mode: u=rw,g=r,o=r

    - name:  deamon reload and enable service minio
      systemd:
        enabled: yes
        daemon_reload: yes
        name: minio




