- name: Common pre-requisites
  hosts: minio_nodes
  gather_facts: yes
  

  tasks:
    - include_vars: minio-vars.yml

    
    - name: telechargement binaire minio
      get_url:
        url: https://dl.min.io/server/minio/release/linux-amd64/minio
        dest: /tmp/
    
    - name: installation binaire minio
      shell: |
        chmod +x minio
        mv /tmp/minio /usr/local/bin
        useradd -r minio-user -s /sbin/nologin
        chown minio-user:minio-user /usr/local/bin/minio
        mkdir /usr/local/share/minio
        chown minio-user:minio-user /usr/local/share/minio
        mkdir /etc/minio
        chown minio-user:minio-user /etc/minio
      args:
       executable: /bin/bash

    - name: cat conf sql
      shell: |
        cat << EOF > /etc/default/minio
        MINIO_ACCESS_KEY="{{ MINIO_ACCESS_KEY }}"
        MINIO_VOLUMES=""
        MINIO_OPTS="http://{{ ipreseau_minio }}{1...{{ minio_n }}}/mnt/data{1...{{ minio_n }}}"
        MINIO_SECRET_KEY="{{ MINIO_SECRET_KEY }}"
        EOF
      args:
       executable: /bin/bash

    - name: creation service minio
      shell: |
        cat << EOF > /etc/systemd/system/minio
        [Unit]
        Description=MinIO
        Documentation=https://docs.min.io
        Wants=network-online.target
        After=network-online.target
        AssertFileIsExecutable=/usr/local/bin/minio
        [Service]
        WorkingDirectory=/usr/local/
        User=minio-user
        Group=minio-user
        EnvironmentFile=/etc/default/minio
        ExecStart=/usr/local/bin/minio server $MINIO_OPTS $MINIO_VOLUMES MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY} MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
        Restart=always
        LimitNOFILE=65536
        TimeoutStopSec=infinity
        SendSIGKILL=no
        [Install]
        WantedBy=multi-user.target
        EOF
      args:
       executable: /bin/bash

    - name: installation service minio
      shell: |
        systemctl daemon-reload
        systemctl enable minio
      args:
       executable: /bin/bash


    - name: Reboot host and wait for it to restart
      reboot:
        msg: "Reboot initiated by Ansible"
        connect_timeout: 5
        reboot_timeout: 600
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: whoami

