        [Unit]
        Description=MinIO
        Documentation=https://docs.min.io
        Wants=network-online.target
        After=network-online.target
        AssertFileIsExecutable=/usr/local/bin/minio
        
        [Service]
        WorkingDirectory=/usr/local/
        User=minio-user
        Group=minio-user
        
        EnvironmentFile=/etc/default/minio
        
        ExecStart=MINIO_ACCESS_KEY=adminesgi MINIO_SECRET_KEY=adminesgi /usr/local/bin/minio server $MINIO_OPTS
        
        Restart=always
        LimitNOFILE=65536
        TimeoutStopSec=infinity
        SendSIGKILL=no
        
        [Install]
        WantedBy=multi-user.target
